# Pearson Chi-Square Test of Independence
*By P. Stikker*<br>
https://PeterStatistics.com<br>
https://www.youtube.com/stikpet<br>

## Introduction

To test if two nominal variables have an association, the most commonly used test is the Pearson chi-square test of independence. If the significance of this test is below 0.05, the two nominal variables have a significant association.

One problem though is that the Pearson chi-square test should only be used if not too many cells have a so-called expected count, of less than 5, and the minimum expected count is at least 1. So you will also have to check first if these conditions are met. Most often ‘not too many cells’ is fixed at no more than 20% of the cells. Note that there are othes who would say that all cells should have an expected count of at least 5.

Once you have checked the conditions and looked at the results, you can report the test results. In the example the percentage of cells with an expected count less than 5 is actually 0%, so it is okay to use the test.

Lets see how this works with Python by example.

## Example

The example data will be loaded as a Pandas Dataframe, so we'll need pandas:

In [1]:
# !pip install pandas
import pandas as pd     # https://pandas.pydata.org/

To load the example data we can now use <a href="https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_csv.html">'read_csv'</a>.

In [2]:
myDf = pd.read_csv('../../Data/csv/GSS2012a.csv')
myDf.head()

C:\Users\Peter\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (11,115,123,187,274,284,287,288,290,291,292,397,585,595,628,632) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,year,id,mar1,BMITZVAH,accntsci,age,sex,life,ENGDO,SCIENTBR,...,wrksch,wrkslf,wrkstat,wrkwayup,wwwhr,wwwmin,xmarsex,xmovie,xnorcsiz,zodiac
0,2012.0,1.0,MARRIED,NaN,NaN,22.0,MALE,EXCITING,NaN,NaN,...,WORK PART-TIME,SOMEONE ELSE,WORKING PARTTIME,AGREE SOMEWHAT,5.0,NaN,ALWAYS WRONG,NaN,"UNINC,MED CITY",LIBRA
1,2012.0,6.0,DIVORCED,NaN,NaN,50.0,FEMALE,NaN,NaN,NaN,...,WORK FULL-TIME,SOMEONE ELSE,OTHER,AGREE SOMEWHAT,0.0,0.0,SOMETIMES WRONG,NaN,"CITY,50-250000",TAURUS
2,2012.0,7.0,MARRIED,NaN,NaN,35.0,FEMALE,NaN,NaN,NaN,...,NaN,SOMEONE ELSE,KEEPING HOUSE,AGREE SOMEWHAT,2.0,NaN,NaN,NO,"CITY,50-250000",SCORPIO
3,2012.0,9.0,SEPARATED,NaN,NaN,28.0,FEMALE,ROUTINE,NaN,NaN,...,WORK PART-TIME,NaN,KEEPING HOUSE,AGREE STRONGLY,NaN,NaN,ALWAYS WRONG,NaN,"CITY,50-250000",LIBRA
4,2012.0,11.0,DIVORCED,NaN,NaN,55.0,MALE,ROUTINE,NaN,NaN,...,NaN,SOMEONE ELSE,OTHER,NaN,14.0,NaN,SOMETIMES WRONG,NaN,"SUBURB, MED CITY",PISCES

I'll be using the 'mar1' and 'sex' fields for the example, so select those:

In [3]:
myField1 = myDf['mar1']
myField2 = myDf['sex']

To get a quick look at the counts from these we can use Pandas '<a href="https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.crosstab.html">crosstab</a>':

In [4]:
myCrosstable = pd.crosstab(myField1, myField2)
myCrosstable

sex            FEMALE  MALE
mar1
DIVORCED          172   142
MARRIED           516   456
NEVER MARRIED     207   188
SEPARATED          50    29
WIDOWED           123    58

To perform the test, I'll make use of the '<a href="https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.chi2_contingency.html#scipy.stats.chi2_contingency">chi2_contingency</a>' function in the '<a href="https://docs.scipy.org/doc/scipy/reference/stats.html">stats</a>' module, of the <a href="https://www.scipy.org/">scipy</a> library. So lets load that in:

In [5]:
# !pip install scipy
from scipy.stats import chi2_contingency

Now all we need to do is feed this function our cross table:

In [6]:
chiVal, pVal, df, exp = chi2_contingency(myCrosstable)
chiVal, pVal, df, exp

(16.989749099448613,
 0.0019418339492422961,
 4,
 array([[172.77279753, 141.22720247],
        [534.82534776, 437.17465224],
        [217.34157651, 177.65842349],
        [ 43.4683153 ,  35.5316847 ],
        [ 99.59196291,  81.40803709]]))

The first value is the chi-square value of 16.99. The chance of such a value or even more extreme, in a sample, if there is no association in the population is 0.0019 (the second value). This is known as the p-value or significance. It is considered 'significant' usually if this value is below 0.05, which in this case it is. This indicates then an association between the two variables (one has an impact on the other).

The third value is the degrees of freedom, which is an indication of the size of the table, since it is simply the number of rows - 1, times the number of columns - 1.

The last array are the so called expected values. These are the counts to be expected if the two variables had no influence on each other.

Note that as a criteria the lowest expected value should be at least 1, and not too many should be below 5. Often a threshold of 20% is used (so if more than 20% of the cells have an expected count of 5 or less, the test is not reliable to use).

So lets check this. First the lowest expected count:

In [7]:
exp.min()

35.53168469860896

So 35 is well above the criteria of at least 1, so thats good.

Now for the percentage of cells with a count less than 5:

In [8]:
len(exp[exp < 5]) / len(exp) * 100

0.0

Well, since none of them was below 5 the percentage is of course 0%.

Instead of the scipy package, a slightly lesser known package of 'researchpy' also has a chi-square test that could be easier to use.

In [9]:
# !pip install researchpy
import researchpy   # https://researchpy.readthedocs.io/

With this package we can use crosstab directly on the dataframe, set the test to 'chi-square', and since we're also interested in the expected frequencies, set 'expected_freqs' to True:

In [10]:
crosstab, res, exp = researchpy.crosstab(myDf['sex'], myDf['mar1'], test='chi-square', expected_freqs=True)

The results of the test:

In [11]:
res

                Chi-square test  results
0  Pearson Chi-square ( 4.0) =   16.9897
1                    p-value =    0.0019
2                 Cramer's V =    0.0936

And the expected values:

In [12]:
exp

              mar1
mar1      DIVORCED     MARRIED NEVER MARRIED  SEPARATED    WIDOWED
sex
FEMALE  172.772798  534.825348    217.341577  43.468315  99.591963
MALE    141.227202  437.174652    177.658423  35.531685  81.408037

Same results again as before.

In the appendix I'll go over the formulas that are actually used in these packages.

## Appendix: The Hard Way

In [13]:
myCrosstable

sex            FEMALE  MALE
mar1
DIVORCED          172   142
MARRIED           516   456
NEVER MARRIED     207   188
SEPARATED          50    29
WIDOWED           123    58

We begin with calculating the expected values. These can be calculated using:

\begin{equation*}
E_{i,j} = \frac{R_i \times C_j}{N}
\end{equation*}

The $E_{i,j}$ indicates the expected count in row i, column j. The $R_i$ is the row total of row i, and $C_j$ the column total of column j. The $N$ is the grand total.

So we need the column and row totals. This can be easily done with Pandas '<a href="https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.sum.html">sum</a>' function. For the rows we need to use 'axis=1' so it will sum by row (rather than by column):

In [14]:
colTotals = myCrosstable.sum()
rowTotals = myCrosstable.sum(axis=1)

colTotals, rowTotals

(sex
 FEMALE    1068
 MALE       873
 dtype: int64,
 mar1
 DIVORCED         314
 MARRIED          972
 NEVER MARRIED    395
 SEPARATED         79
 WIDOWED          181
 dtype: int64)

Its useful to have the number of rows and columns also easily accessible, which can be obtained by using Python's '<a href="https://docs.python.org/3/library/functions.html#len">len</a>' function:

In [15]:
nCols = len(colTotals)
nRows = len(rowTotals)

nCols, nRows

(2, 5)

And the grand total is simply the sum of the row totals (or the column totals):

In [16]:
N = rowTotals.sum()
N

1941

Next we can determine the expected values using the formula. We do this for each cell so iterate over all rows and columns:

In [17]:
for i in range(nRows):
    for j in range(nCols):
        E = rowTotals[i] * colTotals[j] / N
        print(E)

172.7727975270479
141.2272024729521
534.8253477588871
437.1746522411128
217.34157650695516
177.65842349304484
43.46831530139104
35.53168469860896
99.5919629057187
81.4080370942813

The chi-square value can now be calculated using:

\begin{equation*}
\chi^2 = \sum\frac{(O_{i,j}-E_{i,j})^2}{E_{i,j}}
\end{equation*}

The $O_{i,j}$ are the observed counts from the original cross table (i-th row, j-th column), we subtract the expected count, and square the result. We then add all of these up, and divide by the expected count.

So here goes with Python:

In [18]:
chiVal = 0
for i in range(nRows):
    for j in range(nCols):
        E = rowTotals[i] * colTotals[j] / N
        O = myCrosstable.iloc[i,j]
        chiVal = chiVal + (O - E)**2 / E
chiVal

16.989749099448613

Great, the same result as with the scipy package.

We also will need the degrees of freedom (df), but that is relatively easy:

\begin{equation*}
df = (r - 1)(c-1)
\end{equation*}

Where $r$ is the number of rows, and $c$ the number of columns.

In [19]:
df = (nRows - 1) * (nCols - 1)
df

4

To obtain the area under a chi-square distribution with df of 4, from 0 to our found chi-square value, we will use the chi2.cdf function from scipy.stats.

In [20]:
# !pip install scipy
from scipy.stats import chi2

Now to get the area under the curve:

In [21]:
chi2.cdf(chiVal, df)

0.9980581660507577

However we actually need for the p-value a value equal or greater than the chi-square value. So we subtract the above result from 1:

In [22]:
1 - chi2.cdf(chiVal, df)

0.0019418339492422998

And that's indeed the same as we saw before.

In [23]:
chi2.sf(chiVal, df)

0.0019418339492422961